
body, h1, h2, h3, h4, h5, h6 {font-family: 'Honk', system-ui;}

.grid-container {
    display: grid;
    max-width: 100%;width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-size: cover; /* Cover the entire grid item */
    background-position: center; /* Center the background image */
    position: relative; /* Required for overlay text */
    color: white; /* Change text color for visibility */
  }
  
  .grid-item {
    height: 200px; /* Adjust as needed */
  }
  
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: #D81B60; /* Pink color */
    font-size: 2em;
    font-family: 'Honk', system-ui;
  }

  
  /* Optional: Responsive grid */
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  